html,
body {
    height: 100%;
}

html {
    hanging-punctuation: first allow-end last;
    word-break: break-word;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-dark);
    background: var(--color-light);
    font-size: var(--font-m);
    line-height: 1.4;
    font-family: "League Spartan Variable", Arial, Helvetica, sans-serif;
    font-variation-settings: "wght" 345;
}

main {
    flex: 1;
}

h1,
h2 {
    font-variation-settings: "wght" 550;
    max-width: 30ch;
    text-wrap: balance;
}

h1 {
    color: var(--color-primary-shade);
    font-size: var(--font-xl);
}

h2 {
    color: var(--color-primary);
    font-size: var(--font-l);
}

h3 {
    font-variation-settings: "wght" 450;
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.15rem;
}

:focus {
    outline: 1px dotted currentColor;
    outline-offset: 0.2rem;
}

p,
li,
dl {
    max-width: 70ch;
}

main {
    width: 100%;
}

main:focus {
    outline: none;
}

pre {
    white-space: pre-wrap;
}
