html {
    hanging-punctuation: first allow-end last;
    word-break: break-word;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-body);
    font-weight: 345;
    font-size: var(--step-1);
    color: var(--color-dark);
    background: var(--color-light);
    min-height: 100vh;
    line-height: 1.4;
}

h1,
h2 {
    font-family: var(--font-family-heading);
    max-width: 30ch;
}

h1 {
    color: var(--color-primary-shade);
    font-size: var(--step-6);
}

h2 {
    color: var(--color-primary);
    font-size: var(--step-4);
}

h3 {
    font-weight: 500;
    font-size: var(--step-3);
}

h4 {
    font-weight: 500;
    font-size: var(--step-2);
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.15rem;
}

:focus {
    outline: 1px dotted currentColor;
    outline-offset: var(--space-3xs);
}

main {
    width: 100%;
    flex-grow: 1;
    margin-block: var(--space-xl);
}

main:focus {
    outline: none;
}

pre {
    white-space: pre-wrap;
}

code {
    font-size: var(--step--1);
}

i {
    vertical-align: -0.15em;
}

[data-icon] {
    font-size: 1.5rem;
}

/*strong {
    text-shadow: 1px 1px 2px var(--color-tertiary);
}*/
