:root {
    /* COLOR THEME */
    --color-light: var(--color-white-linen-50);
    --color-light-shade: var(--color-white-linen-100);
    --color-dark: var(--color-ebony-950);
    --color-primary: var(--color-pelorous-600);
    --color-primary-shade: var(--color-pelorous-700);
    --color-secondary: var(--color-pastel-green-400);
    --color-tertiary: var(--color-beryl-green-100);
    --color-pop: var(--color-burning-orange-400);

    /* TYPOGRAPHY */
    --font-xl: clamp(3rem, 3rem + 0.5dvw, 4rem);
    --font-l: clamp(2rem, 2rem + 0.5dvw, 3rem);
    --font-m: clamp(1rem, 1rem + 0.5dvw, 2rem);
    --font-s: clamp(0.75rem, 0.75rem + 0.5dvw, 1rem);

    /* SPACING */
    --wrapper-max-width: 80rem;
    --gutter: clamp(1rem, 1rem + 0.5dvw, 2rem);
}
