---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <p>
        <em
            >posted {
                post.data.pubDate.toLocaleDateString("en-gb", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                })
            }</em
        >
    </p>
    <hr />
    <Content />
</BaseLayout>
