---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getEntry, render } from "astro:content";
const page = await getEntry("pages", "home");

if (!page) {
    // Handle Error, for example:
    throw new Error("Could not find home page");
}
const { Content } = await render(page);
---

<BaseLayout title={page.data.title}>
    <h1>Welcome {page.data.title}</h1>
    <Content />
</BaseLayout>
