---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const title = "Home";
const description = "The personal website of Brett Egbert.";
---

<BaseLayout title={title}>
	<h1>{title}</h1>
	<Image
		src="/crystal-circle-logo.webp"
		alt="crystal logo"
		width="216"
		height="216"
	/>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
		reiciendis odit incidunt fugit tempore quod consequatur eveniet nam
		molestiae, ea, sit nostrum at cupiditate soluta libero suscipit,
		inventore natus voluptatibus?
	</p>
	<h2>Lorem ipsum dolor sit amet.</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ipsam
		earum voluptas sint officia rem similique placeat, odio nam commodi?
		Quidem tempore dolore suscipit ipsa nulla ea, excepturi et pariatur.
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
		repellendus, quasi veritatis ipsum fuga earum id error consectetur in.
		Sed ducimus cum eius consequatur laborum quia praesentium dolores
		debitis nam!
	</p>
</BaseLayout>
