---
import PageLayout from "../layouts/PageLayout.astro";
import GridProjects from "../components/projects/GridProjects.astro";
---

<PageLayout pageID="projects">
    <section class="section flow">
        <h2>Web Development</h2>
        <GridProjects category="web-dev" />
    </section>
    <section class="section flow">
        <h2>Assessment</h2>
        <GridProjects category="assessment" />
    </section>
    <section class="section flow">
        <h2>Creative Club</h2>
        <p>
            Each month my wife's family and I pick a theme and each make a
            creative project based on the theme. These are my submissions.
        </p>
        <GridProjects category="creative-club" />
    </section>
</PageLayout>

<style>
    h2 {
        padding-block-start: var(--space-l);
    }
</style>
