---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Projects";
const description = "Collection of projects I have worked on.";
---

<BaseLayout title={title}>
    <h1>{title}</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quis
        eveniet maxime deserunt tenetur provident repellendus voluptas aliquid
        autem earum alias doloribus, consequuntur dolor! Ratione quaerat ea
        ipsam minus ad!
    </p>
</BaseLayout>
