---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allPages = await getCollection("pages");
const navPages = allPages
    .filter((page) => page.data.showInNav !== false)
    .sort((a, b) => (a.data.navOrder || 999) - (b.data.navOrder || 999));
---

<section class="visitor-guide">
    {
        navPages.map((page) => (
            <div class="guide-section flow">
                <h3>
                    {page.data.icon && <Icon name={page.data.icon} />}
                    <a href={`/${page.id}`}>{page.data.title}</a>
                </h3>
                <p>{page.data.description}</p>
            </div>
        ))
    }
</section>

<style>
    .visitor-guide {
        margin-block: var(--space-l);
        max-width: 45ch;
        margin-inline: auto;
    }

    .guide-section {
        padding-block: var(--space-s);
    }

    [data-icon],
    h3 {
        display: flex;
        gap: var(--space-3xs);
        font-size: var(--step-2);
    }

    a {
        transition: color 0.2s ease-in;
    }

    a:hover {
        color: var(--color-primary);
    }

    [data-icon] {
        vertical-align: -0.1em;
    }
</style>
