---
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";

const postsPage = await getEntry("pages", "posts");
const projectsPage = await getEntry("pages", "projects");
const aboutPage = await getEntry("pages", "about");

const sections = [
    { page: postsPage, route: "/posts" },
    { page: projectsPage, route: "/projects" },
    { page: aboutPage, route: "/about" },
];
---

<section class="visitor-guide">
    {
        sections.map((section, index) => (
            <>
                <div class="guide-section flow">
                    <h3>
                        {section.page?.data.icon && (
                            <Icon name={section.page.data.icon} />
                        )}
                        <a href={section.route}>{section.page?.data.title}</a>
                    </h3>
                    <p>{section.page?.data.description}</p>
                </div>
            </>
        ))
    }
</section>

<style>
    .visitor-guide {
        margin-block: var(--space-l);
        max-width: 45ch;
        margin-inline: auto;
    }

    .guide-section {
        padding-block: var(--space-s);
    }

    [data-icon],
    h3 {
        display: flex;
        gap: var(--space-3xs);
        font-size: var(--step-2);
        transition: color 0.2s ease-in;
    }

    h3:hover {
        color: var(--color-primary);

        [data-icon] {
            color: var(--color-secondary);
        }
    }

    p {
        font-style: italic;
    }

    [data-icon] {
        vertical-align: -0.1em;
        transition: color 0.2s ease-in;
    }
</style>
