---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allPages = await getCollection("pages");
const navPages = allPages
    .filter((page) => page.data.showInNav !== false)
    .sort((a, b) => (a.data.navOrder || 999) - (b.data.navOrder || 999));
---

<section class="visitor-guide flow">
    <h2>Visitor's Guide</h2>
    <p>
        This site is my digital home—a place that I control with no ads, no
        tracking, no algorithms, and no trend chasing. Like a pair of cargo
        shorts, I offer a 100% <em>"I am not trendy"</em> guarantee.
    </p>
    {
        navPages.map((page) => (
            <div class="box flow">
                <h3>
                    {page.data.icon && <Icon name={page.data.icon} />}
                    <a href={`/${page.id}`}>{page.data.title}</a>
                </h3>
                <p>{page.data.description}</p>
            </div>
        ))
    }
</section>

<style>
    .visitor-guide {
    }

    .box {
        --box-padding: var(--space-s);
        max-width: 45ch;
        margin-inline: auto;
        border: 2px solid var(--color-dark);
    }

    [data-icon],
    h3 {
        display: flex;
        gap: var(--space-3xs);
        font-size: var(--step-2);
    }

    a {
        transition: color 0.2s ease-in;
    }

    a:hover {
        color: var(--color-primary);
    }
</style>
