---
const today = new Date();
---

<footer class="wrapper">
    <p>W. Brett Egbert &copy; {today.getFullYear()}</p>
    <p>stay curious</p>
</footer>

<style>
    footer {
        padding-block: 4rem;
    }

    p {
        margin-inline: auto;
        text-align: center;
        font-family: monospace;
    }
</style>
