---
const today = new Date();
---

<footer>
    <p>W. Brett Egbert &copy; {today.getFullYear()}</p>
    <ul class="social cluster">
        <li><a href="mailto:brett@crossinguard.dev">email</a></li>
        <li>
            <a href="https://github.com/crossinguard" target="_blank">github</a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/w-brett-egbert/"
                target="_blank">linkedin</a
            >
        </li>
    </ul>
    <p>stay curious</p>
</footer>

<style>
    footer {
        padding-block: 2rem;
        font-family: monospace;
        font-size: var(--font-s);
        box-shadow:
            0 0.25rem var(--color-tertiary),
            0 0.5rem var(--color-secondary),
            0 1rem var(--color-primary),
            0 8rem var(--color-primary-shade);
        text-align: center;
        margin-block-end: 2rem;
    }

    p {
        margin-inline: auto;
    }

    .social {
        --cluster-horizontal-alignment: center;
        padding-inline: 0;
    }

    .social li {
        list-style: none;
    }

    .social a {
        text-decoration: none;
    }

    .social a:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        text-decoration-thickness: 0.25rem;
        text-underline-offset: 0.25rem;
    }

    .social a::before {
        content: "[ ";
    }

    .social a::after {
        content: " ]";
    }
</style>
