---
const today = new Date();
---

<footer class="wrapper">
    <p>W. Brett Egbert &copy; {today.getFullYear()}</p>
    <ul class="social">
        <li><a href="mailto:brett@crossinguard.dev">email</a></li>
        <li>
            <a href="https://github.com/crossinguard" target="_blank">github</a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/w-brett-egbert/"
                target="_blank">linkedin</a
            >
        </li>
    </ul>
    <p>stay curious</p>
</footer>
<div class="border1"></div>
<div class="border2"></div>
<div class="border3"></div>
<div class="border4"></div>

<style>
    footer {
        padding-block: 4rem;
        font-family: monospace;
    }

    p {
        margin-inline: auto;
        text-align: center;
    }

    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-inline: 0;
    }

    .social li {
        list-style: none;
        border-block-end: solid 2px transparent;
    }

    .social a {
        text-decoration: none;
    }

    .social a:hover {
        color: var(--color-primary-shade);
        border-block-end: solid 2px;
    }

    .social a::before {
        content: "[ ";
    }

    .social a::after {
        content: " ]";
    }

    .border1 {
        border-bottom: 5px solid var(--color-tertiary);
    }

    .border2 {
        border-bottom: 5px solid var(--color-secondary);
    }

    .border3 {
        border-bottom: 5px solid var(--color-primary);
    }

    .border4 {
        border-bottom: 5px solid var(--color-primary-shade);
    }
</style>
