---
import { Icon } from "astro-icon/components";
import SkipLink from "./SkipLink.astro";
import site from "../data/site.json";
const { pathname } = Astro.url;
---

<header role="banner">
    <SkipLink />
    <div class="site-head wrapper repel">
        <a
            href="/"
            aria-label=`${site.website.title} home`
            class="site-head__brand cluster"
        >
            <Icon name="crystal" />
            <p>{site.website.title}</p>
        </a>
        <nav aria-label="primary">
            <ul role="list" class="cluster">
                {
                    site.website.navigation.map((item) => (
                        <li>
                            <a
                                href={item.url}
                                class={pathname === item.url ? "active" : ""}
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        background: var(--color-primary-shade);
        color: var(--color-light);
        box-shadow:
            0 0.25rem var(--color-primary),
            0 0.5rem var(--color-secondary),
            0 0.75rem var(--color-tertiary);
        padding-block: var(--space-s) var(--space-xs);
    }

    .site-head {
        container-type: inline-size;
    }

    @container (max-width: 650px) {
        .site-head > * {
            margin-inline: auto;
        }
    }

    .site-head :focus {
        outline-color: var(--color-light);
    }

    .site-head__brand {
        --gutter: var(--space-2xs);
        text-decoration: none;
    }

    .site-head__brand img {
        width: var(--space-xl);
    }

    [data-icon] {
        font-size: var(--step-4);
    }

    .site-head__brand {
        font-family: var(--font-family-accent);
        text-shadow: 1px 1px 2px var(--color-dark);
        font-size: var(--step-1);
        transition: color 0.2s ease;
    }

    nav ul {
        padding: 0;
    }

    a {
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 1px 1px 2px var(--color-dark);
        transition: color 0.2s ease;
    }

    .active {
        text-decoration: underline;
        text-decoration-color: var(--color-pop);
        text-decoration-thickness: 0.15rem;
        text-underline-offset: 0.25rem;
    }

    .site-head__brand:hover p,
    nav a:hover {
        color: var(--color-secondary);
        text-decoration: underline;
        text-decoration-color: var(--color-pop);
        text-decoration-thickness: 0.15rem;
        text-underline-offset: 0.25rem;
    }
</style>
