---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}
const { project } = Astro.props;
const { Content } = await render(project);
---

<BaseLayout title={project.data.title} description={project.data.description}>
    <h1>{project.data.title}</h1>
    <p>{project.data.description}</p>
    <p>
        <em>
            posted {
                project.data.pubDate.toLocaleDateString("en-gb", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                })
            }</em
        >
    </p>
    <hr />
    <Content />
</BaseLayout>
