/*
BOX
More info: https://every-layout.dev/layouts/box/
A layout primitive for consistent padding and theming
*/

.box {
  padding: var(--padding, var(--s1));
  border: var(--border-width, var(--border-thin)) solid;
  outline: var(--border-width, var(--border-thin)) solid transparent;
  outline-offset: calc(var(--border-width, var(--border-thin)) * -1);

  --color-light: hsl(0, 0%, 97%);
  --color-dark: hsl(0, 0%, 7%);
  color: var(--color-dark);
  background-color: var(--color-light);
  border-color: var(--color-dark);
}

.box * {
  color: inherit;
}

.box[data-invert] {
  color: var(--color-light);
  background-color: var(--color-dark);
  border-color: var(--color-light);
}