/*
CENTER
More info: https://every-layout.dev/layouts/center/
A layout for centering content with optional gutters
*/

.center {
  box-sizing: content-box;
  max-inline-size: var(--max, var(--measure));
  margin-inline: auto;
  padding-inline-start: var(--gutters, var(--s1));
  padding-inline-end: var(--gutters, var(--s1));
}

/* Intrinsic centering */
.center[data-intrinsic] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text centering */
.center[data-text] {
  text-align: center;
}