/*
COVER
More info: https://every-layout.dev/layouts/cover/
A layout for covering the full viewport or container height
*/

.cover {
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  min-block-size: var(--min-height, 100vh);
  padding: var(--space);
}

.cover > * {
  margin-block: var(--space);
}

.cover > :first-child:not([data-centered]) {
  margin-block-start: 0;
}

.cover > :last-child:not([data-centered]) {
  margin-block-end: 0;
}

.cover > [data-centered] {
  margin-block: auto;
}