/*
REEL
More info: https://every-layout.dev/layouts/reel/
A layout for horizontal scrolling content
*/

.reel {
  --space: var(--s0);
  --item-width: auto;
  --height: auto;
  display: flex;
  block-size: var(--height);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-light) var(--color-dark);
}

.reel > * {
  flex: 0 0 var(--item-width);
}

.reel > * + * {
  margin-inline-start: var(--space);
}

.reel.overflowing {
  padding-block-end: var(--space);
}

/* Hide scrollbar option */
.reel[data-no-bar] {
  scrollbar-width: none;
}

.reel[data-no-bar]::-webkit-scrollbar {
  display: none;
}