/*
STACK
More info: https://every-layout.dev/layouts/stack/
A layout that stacks items vertically with consistent spacing
*/

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, var(--s1));
}

/* Recursive variant */
.stack[data-recursive] * + * {
  margin-block-start: var(--space, var(--s1));
}

/* Split variant */
.stack[data-split-after="1"] > :nth-child(1) {
  margin-block-end: auto;
}
.stack[data-split-after="2"] > :nth-child(2) {
  margin-block-end: auto;
}
.stack[data-split-after="3"] > :nth-child(3) {
  margin-block-end: auto;
}