---
import "../styles/global.css";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <!-- FAVICON -->
        <!-- https://favicon.io/favicon-converter/ -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <link
            rel="preload"
            href="/fonts/lazer84.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content={description} />
        <title>{title} | crossinguard.dev</title>
    </head>
    <body>
        <PrimaryHeader />
        <main id="main-content" tabindex="-1" class="wrapper flow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
